<ion-header translucent="true" class="ion-no-border">
  <img class="portrait" src="assets/mtg.png" alt="" />
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Cards</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="titles">
    <!-- <h4>MTG Sets</h4> -->
    <ion-card-subtitle>Search for Cards .</ion-card-subtitle>

    <ion-searchbar class="ion-no-padding ion-padding-top"></ion-searchbar>
  </div>
</ion-header>

<ion-content>
  <!-- <ion-grid class="grid">
    <ion-row>
      <ion-col class="card-col" *ngFor="let card of cards" size="6">
        <app-cards [card]="card"></app-cards>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  
  <app-cards *ngFor="let card of cards" [card]="card"></app-cards>

</ion-content>
