.titles {
  padding: 0 1rem;
}

ion-toolbar {
  --background: rgba(0, 0, 0, 0);
}

ion-searchbar {
  --background: rgba(0, 0, 0, 0.04);
  // --box-shadow: none;
  --border-radius: 6px;
  margin-bottom: 7px;
}

.portrait {
  height: 200px;
  width: 90%;
  left: 22px;
  transform: scale(1.2, 1.2);
  opacity: 0.2;
  position: absolute;
  top: -115px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.9), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0)
  );
}
.grid{
  padding: 1px;
}

.card-col{
  height: 100%;
  // width: 350px;
  padding: 1px;
  width: 100%;
  display:block;
    margin:auto;
    text-align: center;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}