<ion-header translucent="true" class="ion-no-border">
  <img  class="portrait" src="assets/mtg.png" alt=""/>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>MTG Sets</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="options-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> 

  <div class="titles">
    <!-- <h4>MTG Sets</h4> -->
    <ion-card-subtitle>Search for MTG sets .</ion-card-subtitle>

    <ion-searchbar class="ion-no-padding ion-padding-top" [(ngModel)]="set" animated="true"></ion-searchbar>
  </div>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="fabDisplay($event)" >

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" pullMin="100" pullMax="200">
    <ion-refresher-content 
      pullingIcon="arrow-down-outline" 
      pullingText="Pull to refresh" 
      refreshingSpinner="crescent"
      refreshingText="">
    </ion-refresher-content>
  </ion-refresher>
  
  <app-sets *ngFor="let set of sets | filter:set" [set]="set" (click)="getCards(set.search_uri)"></app-sets>

  <ion-fab *ngIf="isShown" slot="fixed" vertical="bottom" horizontal="end" >
    <ion-fab-button (click)="ScrollToTop()" color="secondary" size="small">
      <ion-icon name="chevron-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
