<ion-card>
  <!-- Single face cards-->
  <ion-img (click)="card_view(card)" class="card" *ngIf="card.layout === 'normal'|| card.layout === 'leveler'|| card.layout === 'saga'|| card.layout === 'adventure'||card.layout ==='scheme'|| card.layout ==='class' || card.layout ==='split' || card.layout ==='flip' || card.layout === 'vanguard' ||card.layout === 'token' || card.layout === 'emblem' || card.layout ==='augment' || card.layout ==='host'" [src]="card.image_uris.small"></ion-img>

  <!-- Dual faced cards-->
  <div (click)="card_view(card)" class="card" *ngIf="card.layout === 'transform' || card.layout === 'modal_dfc' || card.layout === 'art_series' || card.layout === 'double_faced_token'">

    <div class="card__face card__face--front">
      <ion-img class="first" [src]="card.card_faces[0].image_uris.small"></ion-img>
    </div>

    <div class="card__face card__face--back">
      <ion-img class="back" [src]="card.card_faces[1].image_uris.small"></ion-img>
    </div>
  </div>

 
  <!-- FAB SECTION  -->

  <!-- FAB, Transform Layout  (works)-->
  <div>
    <ion-fab *ngIf="card.layout === 'transform' || card.layout === 'modal_dfc'|| card.layout === 'double_faced_token' || card.layout === 'art_series'" horizontal="end" vertical="center" slot="fixed"
      (click)="cardTransform(card.index)">
      <ion-fab-button color="light" style="opacity: 0.7;">
        <ion-icon name="repeat-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>

  <!-- FAB, Flip Layout Cards -->
  <div>
    <ion-fab *ngIf="card.layout === 'flip' " horizontal="end" vertical="center" slot="fixed" (click)="flipCard(card.index)">
      <ion-fab-button color="light" style="opacity: 0.7;">
        <ion-icon name="swap-vertical-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>






</ion-card>
