.set-name {
  color: black;
  margin-top: 5px;
  margin-left: 8px;
  margin-bottom: 5px;
  font-weight: 550;
  font-size: 15px;
  line-height: 1;
}

.set-block {
  margin-top: 5px;
  margin-left: 8px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 13px;
}

.set-releaseDate {
  margin-top: 5px;
  margin-left: 8px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 13px;
}

.name-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #efefef;
  text-transform: capitalize;
  font-weight: 500;

}

ion-card {
  overflow: visible;
  height: 115px;
  // box-shadow: none;
  border-radius: 6px;
  margin: 15px 8px;
  padding: 0;
}

ion-col {
  ion-img {
    position: relative;
    bottom: 27px;
    width: 120px;
    height: 100px;
    right: 10px;
    opacity: 0.7; 
  //   mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.959), rgba(0, 0, 0, 0));
  // -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0.959), rgba(0, 0, 0, 0));

  }
}

.bckgrnd-mask {

  width: 120px;
  position: absolute;
  height: 120px;
  bottom: 0px;
  left: 210px;
  mask-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
  -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));

}

.set-name {
  color:black;
  font-weight: bold;
}

.no {
  color:black;
  font-weight: bold;
}

ion-card-title {
  font-weight: 900;
}

ion-badge {
  margin-top: 6px;
  margin-left: 5px;
  background: rgba(0, 0, 0, .2);
}
