<ion-card>

  <!-- <img class="bckgrnd-mask" [src]="set.icon_svg_uri"> -->
  <ion-card-content>
    <ion-row>
      <ion-col size="8">
        <!-- <h5 class="no">{{set.code}}</h5> -->
        <h2 class="set-name ">{{set.name}}</h2>

        <div>
          <ion-badge class="first-badge">
            {{set.card_count}} cards
          </ion-badge>
          <ion-badge class="second-badge" [style.background]="set.color">
            {{set.set_type}}
          </ion-badge>
        </div>
        <!-- <ion-badge class="second-badge">
          {{set.released_at | date :  "MMM.yyyy"}}
        </ion-badge> -->
        <div>

        </div>

      </ion-col>
      <ion-col size="4">
        <ion-img [src]="set.icon_svg_uri"></ion-img>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
