<!-- <ion-item lines="none" (click)="getCards(set.code)">
      <ion-col size="2" >
        <div class="name-circle" >
          {{ set.name | slice:0:1 }}
        </div>
      </ion-col>
      <ion-text >
        <h5 class="set-name">{{set.name}}</h5>
        <p class="set-block">{{set.block || 'No Block'}} |  {{set.type || 'No Block'}} |  {{set.releaseDate | date :  "MMM.yyyy"}}</p>
      </ion-text>

      
    </ion-item> -->

<ion-card>

  <img class="bckgrnd-mask" [src]="set.icon_svg_uri">
  <ion-card-content>
    <ion-row>
      <ion-col size="8">
        <!-- <h5 class="no">{{set.code}}</h5> -->
        <h2 class="set-name ">{{set.name}}</h2>

        <div>
          <ion-badge>
            {{set.card_count}} cards
          </ion-badge>
          <ion-badge>
            {{set.set_type}}
          </ion-badge>
        </div>

      </ion-col>
      <ion-col size="4">
        <ion-img [src]="set.icon_svg_uri"></ion-img>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
